   
button{
    width: 100%;
    height: 100%;
    border:none;
    font-size: 20px ;
    background-color:#b9b9b9;
}
input[type=button]:hover{
    background-color:rgb(190, 190, 190);
}
input[type=text]{
    width: 98.9%;
    height: 100%;
    border:none;
    outline: none;
    text-align: right;
    font-size: 26px ;
    background-color:#b9b9b9;
}
input[type=text]:focus{
    border:none;
}
.equal_btn{
    height:45px;
}
table{
    width:30%;  
    height:500px;
    margin:auto;
    border:0.5px solid #b9b9b9;
    background-color:#b9b9b9;
    
}
#title,#description{
    text-align:center;
}
@media(min-width:320px) {
    table{
        width:90%;
    }
}
@media(min-width:768px) {
    table{
        width:50%;
        height:40rem;
    }
}
@media(min-width:1024px) {
    table{
        width:30%;
        height:34rem;
    }
}
@media(min-width:1440px) {
    h1{font-size:3rem;}
    p{font-size:2rem}
    table{
        width:50%;
        height:50rem;
    }
    input[type="button"]{
        font-size:25px;
    }
    input[type="text"]{
        font-size:25px;
    }
}
@media(min-width:2560px) {
    h1{font-size:5rem;}
    p{font-size:3rem}
    table{
        width:50%;
        height:82rem;
    }
    input[type="button"]{
        font-size:40px;
    }
    input[type="text"]{
        font-size:40px;
    }
}